:root {
    --primaryLightColor: #d4e6a5;
    --primaryColor: #476a2e;
    --primaryDarkColor: #c02c03;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBackground: #f1f5f8;
    --mainOverlay: rgba(35, 10, 36, 0.4);
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #afafaf;
    --mainRed: #bd0303;
    --mainTransition: all 0.5s linear;
    --mainSpacing: 0.3rem;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --mainBorderRadius: 0.50rem;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1170px;
  }
  



.ccontainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top:1%;
}

.details{
  background-color: #f1f5f8;
  width: 50vw;
  height: 80vh;
  box-sizing: border-box;
  border: 1px solid black;
  display:grid;
   margin-top: 5px;
   grid-template-columns: 20rem auto;
}

.main{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.main img{
    width:300px
}

.info{ 
    display:flex;
    flex-direction: column;
    border-bottom:0.5px dotted gray;
    margin-left: 0px;
}

.info h2,h3{
    color: grey;
    font-size: 1rem;
}

.bttnn {
  display: inline-block;
  width:200px;
  text-align: center;
  background: var(--clr-primary-5);
  color:whitesmoke;
  background-color:#2C2E43;
  border-radius:18px;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  cursor: pointer;
  padding: 16px 13px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 1rem;
}
.bttnn:hover {
  background: black;
}

 @media(max-width:1200px){

    .details{
        margin-top:0.5rem;
        position:absolute;
        height:95vh;
        width:70vw;
         grid-template-columns: 20rem auto;
    }
    .main img{
        width: 280px;
    }

  }

  @media(max-width:900px){

    .details{
        margin-top:0.5rem;
        position:absolute;
        height:95vh;
        width:70vw;
         grid-template-columns: 16rem auto;
    }
    .main img{
        width: 250px;
    }

    .bttnn{
        width: 180px;
    }



  }

   @media(max-width:700px){

    .ccontainer{
        top: 1%;
    }
    .details{
        margin-top:0.5rem;
        position:absolute;
        height:95vh;
        width:70vw;
         grid-template-columns: 14rem auto;
    }
    .main img{
        width: 200px;
    }
    .bttnn{
        width: 150px;
    }

  }


   @media(max-width:500px){

    .ccontainer{
        top: 1%;
    }
    .details{
        margin-top:0.5rem;
        height:100vh;
        width:70vw;
         grid-template-columns: 10rem auto;
    }
    .main img{
        width: 150px;
    }
    .bttnn{
        width: 100px;
    }
  }